Repository songyinggoh/renovation-agent-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/app/
      - frontend/components/
      - frontend/hooks/
      - frontend/lib/
    carryforward: true

docs(3A-02): complete DocumentService + Handlebars templates plan
  .planning/STATE.md
  .planning/phases/phase-3-renders-documents/3A-02-SUMMARY.md
Due: none

feat(3A-04): rewrite doc.worker.ts with real Puppeteer implementation
  backend/src/workers/doc.worker.ts
Due: backend

feat(3A-04): add document controller, routes, and mount in app.ts
  backend/src/app.ts
  backend/src/controllers/document.controller.ts
  backend/src/routes/document.routes.ts
Due: backend

feat(3A-04): register documentService.close() in graceful shutdown
  backend/src/server.ts
Due: backend

docs(3A-04): complete doc worker + REST API plan
  .planning/STATE.md
  .planning/phases/phase-3-renders-documents/3A-04-SUMMARY.md
Due: none

test(phase-3): add unit tests for Phase 3A document generation pipeline
  backend/tests/unit/config/app.test.ts
  backend/tests/unit/controllers/document.controller.test.ts
  backend/tests/unit/db/jsonb-schemas.test.ts
  backend/tests/unit/tools/generate-document.tool.test.ts
  backend/tests/unit/tools/save-plan-state.tool.test.ts
  backend/tests/unit/validators/job.validators.test.ts
  backend/tests/unit/workers/doc.worker.test.ts
Due: none

fix(3B-wave3): align render controller/routes with test contract
  backend/src/controllers/render.controller.ts
  backend/src/routes/render.routes.ts
  backend/src/validators/render.validators.ts
  backend/tests/unit/db/jsonb-schemas.test.ts
Due: backend

docs(phase-3a): research PDF document generation pipeline
  .planning/phases/phase-3-renders-documents/RESEARCH-3A-documents.md
  backend/package.json
  backend/src/dev-agents/cli-workflow.ts
  backend/src/dev-agents/cli.ts
  backend/src/dev-agents/guards.ts
  backend/src/dev-agents/index.ts
  backend/src/dev-agents/supervisor.ts
  backend/src/dev-agents/workflow/quality-gates.ts
  backend/src/dev-agents/workflow/sop-graph.ts
  backend/tests/unit/dev-agents/guards.test.ts
  backend/tests/unit/dev-agents/supervisor.test.ts
  backend/tests/unit/dev-agents/workflow/quality-gates.test.ts
  backend/tests/unit/dev-agents/workflow/sop-graph.test.ts
  package.json
  pnpm-lock.yaml
Due: backend

feat(3A-01): add RenovationPlanSchema to jsonb-schemas.ts
  backend/src/db/jsonb-schemas.ts
Due: backend

feat(3A-01): add planData column, update job types, env var, migration
  backend/.env.example
  backend/drizzle/0008_married_stardust.sql
  backend/drizzle/meta/_journal.json
  backend/src/config/env.ts
  backend/src/config/queue.ts
  backend/src/db/schema/sessions.schema.ts
  backend/src/validators/job.validators.ts
  backend/src/workers/doc.worker.ts
Due: backend

docs(3A-01): complete schema-foundation plan
  .planning/phases/phase-3-renders-documents/3A-01-SUMMARY.md
Due: none

feat(3A-02): add Handlebars templates for checklist and renovation plan PDFs
  backend/src/templates/checklist.hbs
  backend/src/templates/partials/print-styles.hbs
  backend/src/templates/renovation-plan.hbs
Due: backend

feat(3A-03): create save_plan_state and generate_document LangGraph tools
  backend/src/tools/generate-document.tool.ts
  backend/src/tools/save-plan-state.tool.ts
Due: backend

feat(3A-03): register tools, whitelist in ALLOWED_TOOLS, update phase prompts
  backend/src/config/prompts.ts
  backend/src/services/document.service.ts
  backend/src/tools/index.ts
  backend/src/utils/agent-guards.ts
Due: backend

docs(3A-03): complete LangGraph tools plan
  .planning/STATE.md
  .planning/phases/phase-3-renders-documents/3A-03-SUMMARY.md
Due: none

fix(phase-3): add DocGeneratedPayload to shared-types socket events
  .planning/phases/phase-3-renders-documents/VERIFICATION.md
  packages/shared-types/src/socket-events.ts
Due: none

feat(phase-3): complete Phase 3B Wave 4 frontend UI for renders and documents
  .planning/STATE.md
  backend/src/routes/health.routes.ts
  backend/src/routes/render.routes.ts
  backend/src/services/render.service.ts
  frontend/components/chat/chat-view.tsx
  frontend/components/chat/message-list.tsx
  frontend/components/chat/tool-result-renderer.tsx
  frontend/components/renovation/comparison-dialog.tsx
  frontend/components/renovation/index.ts
  frontend/components/renovation/render-card.tsx
  frontend/components/session/session-page-client.tsx
  frontend/hooks/useRequestRender.ts
  frontend/proxy.ts
Due: backend, frontend

chore(state): close Phase 3, advance to Phase 4 planning
  .planning/STATE.md
Due: none

docs(phase-4): research Stripe payment integration
  .planning/phases/phase-4-payment/RESEARCH.md
Due: none

docs(phase-4): create payment integration plans, research, and security checklist
  .claude/agents/best-practice-finder.md
  .planning/STATE.md
  .planning/phases/phase-4-payment/PLAN-4-01-infrastructure.md
  .planning/phases/phase-4-payment/PLAN-4-02-backend-core.md
  .planning/phases/phase-4-payment/PLAN-4-03-security-hardening.md
  .planning/phases/phase-4-payment/PLAN-4-04-frontend.md
  .planning/phases/phase-4-payment/PLAN-4-05-hardening.md
  .planning/phases/phase-4-payment/SECURITY-CHECKLIST.md
Due: none

feat(payment): install stripe SDK, add STRIPE_PRICE_AMOUNT_CENTS to env schema
  backend/.env.example
  backend/drizzle/0009_slim_spacker_dave.sql
  backend/drizzle/meta/0009_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/db/schema/sessions.schema.ts
  pnpm-lock.yaml
Due: backend

feat(payment): add Stripe client singleton and payment Socket.io event types
  backend/src/config/stripe.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/socket-events.ts
Due: backend

docs(4-01): complete infrastructure plan - Stripe SDK, env schema, shared types, config singleton
  .planning/STATE.md
  .planning/phases/phase-4-payment/4-01-SUMMARY.md
Due: none

feat(payment): create payment service with checkout, fulfill, dev bypass, and status
  backend/src/services/payment.service.ts
Due: backend

feat(payment): create payment controller, routes, and wire webhook in app.ts
  backend/src/app.ts
  backend/src/controllers/payment.controller.ts
  backend/src/routes/payment.routes.ts
Due: backend

docs(4-02): complete backend core plan - payment service, controller, routes, webhook mounting
  .planning/STATE.md
  .planning/phases/phase-4-payment/4-02-SUMMARY.md
Due: none

feat(payment): add checkoutLimiter and wire to checkout route
  backend/src/middleware/rate-limit.middleware.ts
  backend/src/routes/payment.routes.ts
Due: backend

feat(payment): add server-side entitlement gates on render and document services
  backend/src/services/document.service.ts
  backend/src/services/render.service.ts
Due: backend

test(payment): add unit tests for payment service and security controls
  backend/tests/unit/config/app.test.ts
  backend/tests/unit/payment/payment-security.test.ts
  backend/tests/unit/payment/payment.service.test.ts
  backend/tests/unit/services/render.service.test.ts
Due: none

docs(4-03): complete security hardening plan - rate limiter, entitlement gates, payment tests
  .planning/STATE.md
  .planning/phases/phase-4-payment/4-03-SUMMARY.md
Due: none

test(payment): add extensive integration and component tests for phase 4
  backend/tests/integration/api/payments.test.ts
  backend/tests/integration/api/setup.ts
  backend/tests/unit/payment/entitlement-gates.test.ts
  backend/tests/unit/payment/payment.controller.test.ts
  backend/tests/unit/payment/payment.routes.test.ts
  backend/tests/unit/payment/stripe.config.test.ts
  e2e/page-objects/payment.page.ts
  e2e/tests/payment-devmode.spec.ts
  e2e/tests/payment-entitlement.spec.ts
  frontend/__tests__/components/payment/payment-panel.test.tsx
  frontend/__tests__/hooks/usePayment.test.tsx
  frontend/components/payment/payment-panel.tsx
  frontend/components/renovation/comparison-dialog.tsx
  frontend/hooks/usePayment.ts
Due: frontend

fix(deps): patch critical and high security vulnerabilities
  backend/package.json
  frontend/__tests__/components/payment/payment-panel.test.tsx
  frontend/package.json
  pnpm-lock.yaml
Due: none
