Repository songyinggoh/renovation-agent-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/app/
      - frontend/components/
      - frontend/hooks/
      - frontend/lib/
    carryforward: true

test(payment): tighten test assertions and add chat_messages index
  backend/src/db/schema/messages.schema.ts
  backend/tests/integration/api/payments.test.ts
  backend/tests/unit/payment/payment.routes.test.ts
  backend/tests/unit/payment/stripe.config.test.ts
Due: backend

feat(ux): accessibility pass, payment panel wiring, and E2E helpers
  e2e/fixtures/base.fixture.ts
  e2e/helpers/api-helper.ts
  frontend/components/chat/chat-input.tsx
  frontend/components/chat/empty-state.tsx
  frontend/components/chat/inline-approval-widget.tsx
  frontend/components/chat/message-list.tsx
  frontend/components/chat/suggestion-bubbles.tsx
  frontend/components/dashboard/create-session-button.tsx
  frontend/components/payment/payment-panel.tsx
  frontend/components/renovation/before-after-slider.tsx
  frontend/components/session/session-page-client.tsx
  frontend/hooks/useSocketQuerySync.ts
  frontend/lib/api-mappers.ts
  frontend/types/renovation.ts
Due: frontend

feat(payment): CSP for Stripe, dev phase-override endpoint, PAYMENT prompt, FK index
  backend/drizzle/meta/_journal.json
  backend/src/app.ts
  backend/src/config/prompts.ts
  backend/src/db/schema/document-artifacts.schema.ts
Due: backend

docs(state): close Phase 4, update codebase docs and config
  .claude/settings.local.json
  .gitignore
  .planning/STATE.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
Due: none

fix: backend/package.json to reduce vulnerabilities
  backend/package.json
Due: none

chore(deps): split dependabot wildcard groups by update-type
  .github/dependabot.yml
Due: none

chore(deps): patch security vulnerabilities via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): patch all security vulnerabilities (critical + high + moderate)
  backend/package.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs(security): save Supabase advisor fix plan + recon script
  backend/scripts/advisor-recon.ts
  docs/runbooks/supabase-advisor-fix-plan.md
Due: none

security(db): apply RLS hardening and drop template scaffold tables
  backend/drizzle/0010_light_rhodey.sql
  backend/drizzle/0011_drop_template_tables.sql
  backend/drizzle/0012_security_hardening.sql
  backend/drizzle/meta/0010_snapshot.json
  backend/drizzle/meta/0011_snapshot.json
  backend/drizzle/meta/0012_snapshot.json
  backend/drizzle/meta/_journal.json
Due: none
