Repository songyinggoh/renovation-agent-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/app/
      - frontend/components/
      - frontend/hooks/
      - frontend/lib/
    carryforward: true

fix: add missing shared-types source files and enable manual CI trigger
  .github/workflows/ai-regression.yml
  packages/shared-types/src/assets.ts
  packages/shared-types/src/constants.ts
  packages/shared-types/src/messages.ts
  packages/shared-types/src/phases.ts
  packages/shared-types/src/session.ts
  packages/shared-types/tsconfig.json
Due: none

fix: add build:shared-types script to root package.json
  package.json
Due: none

fix: provide stub GOOGLE_API_KEY so env.ts validation passes in CI
  backend/tests/ai-regression/setup.ts
Due: none

feat(phase-3): update generate_render tool with mode and baseImageUrl
  backend/src/config/prompts.ts
  backend/src/config/queue.ts
  backend/src/controllers/render.controller.ts
  backend/src/services/render.service.ts
  backend/src/tools/generate-render.tool.ts
  backend/src/validators/job.validators.ts
  backend/src/workers/render.worker.ts
  backend/tests/unit/controllers/render.controller.test.ts
  backend/tests/unit/services/render.service.test.ts
  backend/tests/unit/tools/generate-render.tool.test.ts
  backend/tests/unit/validators/job.validators.test.ts
  backend/tests/unit/workers/render.worker.test.ts
Due: backend

fix(ci): add shared-types build step to all workflows
  .github/workflows/backend-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/quality-gates.yml
Due: none

fix(ci): add workflow_dispatch to quality-gates for manual triggering
  .github/workflows/quality-gates.yml
Due: none

fix(ci): remove unsupported coverage 'all' option and adjust thresholds
  backend/vitest.config.ts
  frontend/vitest.config.ts
Due: none

feat(phase-3): add save_renders_state tool for persisting render selections
  backend/src/config/prompts.ts
  backend/src/services/render.service.ts
  backend/src/tools/index.ts
  backend/src/tools/save-renders-state.tool.ts
  backend/src/utils/agent-guards.ts
  backend/tests/unit/services/render.service.test.ts
  backend/tests/unit/tools/save-renders-state.tool.test.ts
Due: backend

fix(test): add missing sessionId to render:complete test payload
  frontend/__tests__/hooks/useSocketQuerySync.test.tsx
Due: none

fix(ci): lower frontend coverage thresholds to match actual coverage
  frontend/vitest.config.ts
Due: none

Delete .github/workflows/defender-for-devops.yml
  .github/workflows/defender-for-devops.yml
Due: none

fix(build): ensure shared-types is compiled before frontend build
  frontend/package.json
Due: none

fix(ci): use osv-scanner reusable workflows and pin to v2.3.3
  .github/workflows/dependency-audit.yml
Due: none

fix(test): add missing mocks for Redis, BullMQ, Sentry in integration tests
  backend/tests/integration/api/setup.ts
  backend/tests/integration/socket.test.ts
Due: none

fix(deps): resolve audit vulnerabilities in ajv, qs, and minimatch
  package.json
  pnpm-lock.yaml
Due: none

feat: integrate debug kit protocol and fix Docker build
  .claude/commands/debug.md
  .claude/commands/instrument.md
  .claude/commands/postmortem.md
  .claude/commands/review.md
  .claude/commands/trace.md
  CLAUDE.md
  backend/Dockerfile
  docker-compose.yml
Due: none

chore: update pnpm-lock.yaml for @types/node bump
  pnpm-lock.yaml
Due: none

fix(ci): remove duplicate glob declaration in lighthouse workflow
  .github/workflows/lighthouse.yml
Due: none

fix(ci): use correct pnpm audit flag --audit-level instead of --severity
  .github/workflows/dependency-audit.yml
Due: none

fix(migration): correct column reference in contractor_recommendations index
  backend/drizzle/0006_add_performance_indexes.sql
Due: none

fix(docker): pin pnpm version, copy .npmrc, add tsconfig paths
  backend/Dockerfile
  backend/tsconfig.json
Due: none

fix(deps): add cross-spawn and glob overrides for container security
  package.json
  pnpm-lock.yaml
Due: none

fix(docker): eliminate Trivy CVEs by stripping npm from production image
  .github/workflows/docker-scan.yml
  backend/.trivyignore
  backend/Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

fix(docker): add --legacy flag to pnpm deploy for v10 workspace support
  backend/Dockerfile
  packages/shared-types/package.json
Due: none

fix(deps): override minimatch to 10.2.1 to resolve CVE-2026-26996
  backend/.trivyignore
  package.json
  pnpm-lock.yaml
Due: none

fix(ci): add least-privilege permissions to 7 workflow files
  .github/workflows/ai-regression.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/db-health.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lighthouse.yml
  .github/workflows/quality-gates.yml
Due: none

fix(frontend): close Phase 3.1 verification gaps — payload mismatch and orphaned components
  frontend/components/session/session-page-client.tsx
  frontend/hooks/useRequestRender.ts
  frontend/hooks/useRoomRenders.ts
Due: frontend

test(phase-3.1): add render pipeline verification script and visual test page
  e2e/scripts/verify-render-pipeline.ts
  frontend/app/render-test/page.tsx
  package.json
Due: frontend

fix(ci): add root dependency paths to backend-deploy trigger
  .github/workflows/backend-deploy.yml
Due: none

fix(deps): sync lockfile with minimatch override
  pnpm-lock.yaml
Due: none

fix(test): update GeminiImageAdapter model assertion to match renamed model
  backend/tests/unit/services/image-generation.service.test.ts
Due: none

fix(review): address 12 Cubic code review issues
  .claude/agents/debugger.md
  .claude/agents/error-investigator.md
  .claude/agents/queue-operations-specialist.md
  .claude/settings.local.json
  .claude/skills/puppeteer-template/SKILL.md
  .claude/skills/puppeteer-template/print-layout.md
  .claude/skills/puppeteer-template/template-structure.md
  .claude/skills/redis-debug/SKILL.md
  .claude/skills/tanstack-socketio-sync/event-handlers.md
  backend/src/middleware/errorHandler.ts
Due: backend

fix(ai-regression): add retry and inter-call delay to smoke test
  backend/tests/ai-regression/prompt-smoke.test.ts
  backend/vitest.ai-regression.config.ts
Due: none

fix(ci): add missing test:e2e script to root package.json
  package.json
Due: none

fix(ci): build shared-types before E2E tests start
  .github/workflows/quality-gates.yml
Due: none

fix(e2e): guard server startup on VITEST env var, not NODE_ENV
  backend/src/server.ts
Due: backend

chore: upgrade Gemini models to 2.5 generation
  backend/src/config/gemini.ts
  backend/src/services/image-generation.service.ts
  backend/src/utils/ai-tracing.ts
  backend/tests/unit/config/gemini-tracing.test.ts
  backend/tests/unit/services/image-generation.service.test.ts
  backend/tests/unit/services/render.service.test.ts
  backend/tests/unit/utils/ai-tracing.test.ts
  backend/tests/unit/workers/render.worker.test.ts
Due: backend

feat(dev-agents): create directory structure and type definitions
  backend/src/dev-agents/index.ts
  backend/src/dev-agents/types.ts
Due: backend

fix(e2e): make Redis optional in readiness check
  backend/src/routes/health.routes.ts
Due: backend
