Repository songyinggoh/renovation-agent-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): add @langchain/anthropic for dev-agent framework
  backend/.env.example
  backend/package.json
  backend/src/config/claude.ts
  backend/src/config/env.ts
  pnpm-lock.yaml
Due: backend

refactor(dev-agents): apply code review fixes to Wave 1 Tasks 1-2
  backend/src/config/claude.ts
  backend/src/config/env.ts
  backend/src/dev-agents/types.ts
Due: backend

feat(safety): add Redis-based agent kill switch with graceful degradation
  backend/src/utils/agent-killswitch.ts
  backend/tests/unit/utils/agent-killswitch.test.ts
Due: backend

feat(dev-agents): create dev tools (file ops, bash, search, git)
  backend/src/dev-agents/tools/bash.ts
  backend/src/dev-agents/tools/file-ops.ts
  backend/src/dev-agents/tools/git.ts
  backend/src/dev-agents/tools/index.ts
  backend/src/dev-agents/tools/search.ts
  backend/src/utils/execFileNoThrow.ts
  backend/tests/unit/dev-agents/tools.test.ts
Due: backend

fix(e2e): handle missing Supabase env vars in frontend
  frontend/app/app/layout.tsx
  frontend/app/auth/callback/route.ts
  frontend/app/page.tsx
  frontend/hooks/useChat.ts
  frontend/lib/api.ts
  frontend/lib/supabase/client.ts
  frontend/lib/supabase/middleware.ts
  frontend/lib/supabase/server.ts
Due: frontend

refactor(dev-agents): apply code review fixes to Wave 1 Tasks 3-4
  backend/src/dev-agents/tools/bash.ts
  backend/src/utils/agent-killswitch.ts
  backend/src/utils/execFileNoThrow.ts
  backend/tests/unit/dev-agents/tools.test.ts
  backend/tests/unit/utils/agent-killswitch.test.ts
Due: backend

fix(e2e): use toHaveAttribute instead of descendant locator
  e2e/page-objects/session.page.ts
  e2e/tests/chat-flow.spec.ts
Due: none

chore: codebase maintenance — delete dead code, fix type drift, harden debug agents
  .claude/agent-memory/debugger/MEMORY.md
  .claude/agents/debugger.md
  .claude/agents/deployment-troubleshooter.md
  .claude/agents/error-investigator.md
  .claude/agents/gsd-debugger.md
  .husky/pre-commit
  backend/src/config/telemetry.ts
  backend/src/db/migrate.ts
  backend/src/logger-config.ts
  backend/src/middleware/validation/validate-dto.middleware.ts
  backend/src/models/user.model.ts
  backend/src/server.ts
  backend/src/services/user.service.ts.old
  backend/src/types/user.ts
  backend/src/utils/async.ts
  backend/src/utils/errors.ts
  backend/src/utils/http-errors.ts
  backend/src/workers/render.worker.ts
  frontend/app/render-test/page.tsx
  frontend/app/test-chat/page.tsx
  frontend/hooks/useIntersectionObserver.ts
  frontend/hooks/useRequestRender.ts
  frontend/types/renovation.ts
Due: backend, frontend

feat(dev-agents): create scaffold specialist agent
  backend/src/dev-agents/scaffold/agent.ts
  backend/src/dev-agents/scaffold/prompt.ts
  backend/tests/unit/dev-agents/scaffold-agent.test.ts
Due: backend

feat(dev-agents): create migration specialist agent
  backend/src/dev-agents/migration/agent.ts
  backend/src/dev-agents/migration/prompt.ts
  backend/tests/unit/dev-agents/migration-agent.test.ts
Due: backend

feat(dev-agents): create test specialist agent
  backend/src/dev-agents/test/agent.ts
  backend/src/dev-agents/test/prompt.ts
  backend/tests/unit/dev-agents/test-agent.test.ts
Due: backend

feat(dev-agents): create review specialist agent (Opus-powered)
  backend/src/dev-agents/review/agent.ts
  backend/src/dev-agents/review/prompt.ts
  backend/tests/unit/dev-agents/review-agent.test.ts
Due: backend

feat(dev-agents): create research and implement specialist agents
  backend/src/dev-agents/implement/agent.ts
  backend/src/dev-agents/implement/prompt.ts
  backend/src/dev-agents/research/agent.ts
  backend/src/dev-agents/research/prompt.ts
  backend/tests/unit/dev-agents/implement-agent.test.ts
  backend/tests/unit/dev-agents/research-agent.test.ts
Due: backend

fix(ci): resolve TS2352 type assertion in execFileNoThrow
  backend/src/utils/execFileNoThrow.ts
Due: backend

refactor(dev-agents): apply Wave 2 code review fixes
  backend/src/dev-agents/tools/git.ts
  backend/tests/unit/dev-agents/scaffold-agent.test.ts
  backend/tests/unit/dev-agents/tools.test.ts
Due: backend

docs: add orchestrator framework design document
  docs/plans/2026-02-26-orchestrator-framework-design.md
Due: none

docs: augment orchestrator design with 4 research-backed modules
  docs/plans/2026-02-26-orchestrator-framework-design.md
Due: none

fix(e2e): add missing data-testid attrs and handle Gemini rate limits
  e2e/tests/chat-flow.spec.ts
  frontend/components/dashboard/create-session-button.tsx
  frontend/components/dashboard/session-list.tsx
Due: frontend

docs: augment orchestrator design with 5 research-backed modules (Wave 2)
  docs/plans/2026-02-26-orchestrator-framework-design.md
Due: none

fix(deps): patch critical basic-ftp and high rollup vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

docs: add Hybrid B+A orchestrator design (supersedes full custom build)
  docs/plans/2026-02-27-hybrid-orchestrator-design.md
Due: none

docs: add Hybrid B+A orchestrator implementation plan
  docs/plans/2026-02-27-hybrid-orchestrator-implementation.md
Due: none

feat(agents): add multi-phase supervisor orchestrator (Waves 1-3)
  backend/src/agents/agent-event-emitter.ts
  backend/src/agents/budget-enforcer.ts
  backend/src/agents/index.ts
  backend/src/agents/kill-switch.ts
  backend/src/agents/phase-registry.ts
  backend/src/agents/state.ts
  backend/src/agents/supervisor.ts
  backend/src/agents/types.ts
  backend/src/agents/worker-factory.ts
  backend/src/services/chat.service.ts
  backend/tests/unit/agents/agent-event-emitter.test.ts
  backend/tests/unit/agents/budget-enforcer.test.ts
  backend/tests/unit/agents/kill-switch.test.ts
  backend/tests/unit/agents/phase-registry.test.ts
  backend/tests/unit/agents/state.test.ts
  backend/tests/unit/agents/supervisor.test.ts
  backend/tests/unit/agents/types.test.ts
  backend/tests/unit/agents/worker-factory.test.ts
  backend/tests/unit/services/chat.service.test.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/socket-events.ts
Due: backend

feat(agents): wire phase-specific maxTurns into recursionLimit
  backend/src/services/chat.service.ts
  backend/tests/unit/services/chat.service.test.ts
Due: backend

feat(agents): wire budget enforcer into supervisor graph
  backend/src/agents/budget-enforcer.ts
  backend/src/agents/index.ts
  backend/src/agents/supervisor.ts
  backend/src/services/chat.service.ts
  backend/tests/unit/agents/budget-enforcer.test.ts
  backend/tests/unit/agents/supervisor.test.ts
  backend/tests/unit/services/chat.service.test.ts
Due: backend

feat(agents): wire AgentEventEmitter into supervisor graph
  backend/src/agents/agent-event-emitter.ts
  backend/src/agents/supervisor.ts
  backend/src/services/chat.service.ts
  backend/tests/unit/agents/agent-event-emitter.test.ts
  backend/tests/unit/agents/supervisor.test.ts
  backend/tests/unit/services/chat.service.test.ts
Due: backend

feat(agents): wire phase transitions with validation in supervisor
  backend/src/agents/supervisor.ts
  backend/tests/unit/agents/supervisor.test.ts
Due: backend

test: add tests for critical untested security and infra modules
  backend/tests/unit/config/env.test.ts
  backend/tests/unit/middleware/ownership.middleware.test.ts
  backend/tests/unit/middleware/rate-limit.middleware.test.ts
  backend/tests/unit/utils/agent-guards.test.ts
  backend/tests/unit/utils/shutdown-manager.test.ts
Due: none

test: add tests for core functionality modules
  backend/tests/unit/config/app.test.ts
  backend/tests/unit/config/prompts.test.ts
  frontend/__tests__/components/chat/chat-input.test.tsx
  frontend/__tests__/components/chat/message-list.test.tsx
Due: none

feat(dev-agents): wire LangChain middleware stack into all 6 specialists
  backend/src/dev-agents/cost-tracking.ts
  backend/src/dev-agents/implement/agent.ts
  backend/src/dev-agents/index.ts
  backend/src/dev-agents/middleware.ts
  backend/src/dev-agents/migration/agent.ts
  backend/src/dev-agents/research/agent.ts
  backend/src/dev-agents/review/agent.ts
  backend/src/dev-agents/scaffold/agent.ts
  backend/src/dev-agents/test/agent.ts
  backend/tests/unit/config/env.test.ts
  backend/tests/unit/dev-agents/implement-agent.test.ts
  backend/tests/unit/dev-agents/middleware.test.ts
  backend/tests/unit/dev-agents/migration-agent.test.ts
  backend/tests/unit/dev-agents/research-agent.test.ts
  backend/tests/unit/dev-agents/review-agent.test.ts
  backend/tests/unit/dev-agents/scaffold-agent.test.ts
  backend/tests/unit/dev-agents/test-agent.test.ts
  backend/tests/unit/middleware/rate-limit.middleware.test.ts
Due: backend

refactor: remove end-user orchestrator framework, revert to ReAct agent
  backend/src/agents/agent-event-emitter.ts
  backend/src/agents/budget-enforcer.ts
  backend/src/agents/index.ts
  backend/src/agents/kill-switch.ts
  backend/src/agents/phase-registry.ts
  backend/src/agents/state.ts
  backend/src/agents/supervisor.ts
  backend/src/agents/types.ts
  backend/src/agents/worker-factory.ts
  backend/src/services/chat.service.ts
  backend/tests/unit/agents/agent-event-emitter.test.ts
  backend/tests/unit/agents/budget-enforcer.test.ts
  backend/tests/unit/agents/kill-switch.test.ts
  backend/tests/unit/agents/phase-registry.test.ts
  backend/tests/unit/agents/state.test.ts
  backend/tests/unit/agents/supervisor.test.ts
  backend/tests/unit/agents/types.test.ts
  backend/tests/unit/agents/worker-factory.test.ts
  backend/tests/unit/services/chat.service.test.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/socket-events.ts
Due: backend

docs: update codebase analysis documents
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

feat(3A-01): add RenovationPlanSchema to jsonb-schemas.ts
  backend/src/db/jsonb-schemas.ts
Due: backend

feat(3A-01): add planData column, update job types, env var, migration
  backend/.env.example
  backend/drizzle/0008_married_stardust.sql
  backend/drizzle/meta/_journal.json
  backend/src/config/env.ts
  backend/src/config/queue.ts
  backend/src/db/schema/sessions.schema.ts
  backend/src/validators/job.validators.ts
  backend/src/workers/doc.worker.ts
Due: backend

docs(3A-01): complete schema-foundation plan
  .planning/phases/phase-3-renders-documents/3A-01-SUMMARY.md
Due: none

feat(3A-02): add Handlebars templates for checklist and renovation plan PDFs
  backend/src/templates/checklist.hbs
  backend/src/templates/partials/print-styles.hbs
  backend/src/templates/renovation-plan.hbs
Due: backend

feat(3A-03): create save_plan_state and generate_document LangGraph tools
  backend/src/tools/generate-document.tool.ts
  backend/src/tools/save-plan-state.tool.ts
Due: backend

feat(3A-03): register tools, whitelist in ALLOWED_TOOLS, update phase prompts
  backend/src/config/prompts.ts
  backend/src/services/document.service.ts
  backend/src/tools/index.ts
  backend/src/utils/agent-guards.ts
Due: backend

docs(3A-03): complete LangGraph tools plan
  .planning/STATE.md
  .planning/phases/phase-3-renders-documents/3A-03-SUMMARY.md
Due: none

Path conditions:
  backend: any of: backend/src/
  frontend: any of: frontend/app/, frontend/components/, frontend/hooks/, frontend/lib/
